<!-- ARTICLE CONTENT -->

<article class="post-content">
        <a href="{{uri}}.html">#</a>
    {{content |safe}}
</article>
<p class="post-title h-cinzel">
    <a href="{{uri}}.html">
        {{title}}
    </a>
</p> <em>{{updated}}</em>