<!DOCTYPE html>
<html lang="en">

<head>
    <title>Danny Ayers - Recent Articles</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Recent articles from danny.ayers.name">

    <!-- Feed autodiscovery -->
    <link rel="alternate" type="application/atom+xml" title="Atom Feed" href="/atom.xml" />

    <!-- #:todo remove when stable -->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

    <link rel="stylesheet" href="/css/fonts.css" type="text/css" />
    <link rel="stylesheet" href="/css/grid-columns.css" type="text/css" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <link rel="stylesheet" href="/css/menu.css" type="text/css" />

</head>

<body>
    <header id="main-header">
        <h1 class="h-title">
           Raw<em>er</em>
        </h1>
    </header>
    <div class="grid-container">
        <div class="main-grid-item directory">
            <p><strong>Nearby</strong></p>
            <ul>
                <li><a href="https://github.com/danja/tensegrity">Tensegrity</a> - <em>current code projects</em></li>
                <li><a href="https://github.com/danja/tia">TIA Intelligence Agency</a></li>
                <li><a href="https://semem.tensegrity.it">Semem Demo</a></li>
                <li><a href="https://github.com/danja/flues/">Flues</a> . <em>synth experiments</em></li>
                <li><a href="https://danja.github.io/hillside/">Hillside</a> - <em>some recent tunes with visuals</em></li>
                <li><a href="https://github.com/danja/dogalog">Dogalog</a> - <em>livecoding in Prolog</em></li>
                <li><a href="https://hyperdata.it">hyperdata.it</a> - <em>earlier projects</em></li>
            </ul>

            <div class="feed-subscribe">
                <p>📡 <a href="/atom.xml">Subscribe via Atom Feed</a></p>
            </div>
        </div>
        <div class="main-grid-item articles">
            {% if entries and (entries | length) %}
                {% for article in entries %}
                <article class="article-list-item">
                    <h2>{{ article.title }}</h2>
                    {% if article.published %}
                    <div class="article-meta">
                        Published: {{ article.published }}
                    </div>
                    {% endif %}
                    <div class="article-content">
                        {{ article.content | safe }}
                    </div>
                </article>
                {% endfor %}
            {% else %}
                <p>No recent articles available.</p>
            {% endif %}
        </div>
        <div class="main-grid-item about">
            <!--
            <h2>About</h2>
            {{footer}}
            -->
        </div>
    </div>
    <script src="js/menu.js"></script>
</body>

</html>